<%- include('partials/header') -%>
<div class="row homeRow">
<div class="titleBox col-lg-4">

<h1 class="title">Start blogging</h1>
<p><%= startingContent %></p>
<div>
  <a  class="btn btn-primary btn-lg compose" href="/compose">Compose</a>
</div>
</div>
<div class="col-lg-8 postCol">
  
  <h2 class="subtitle">Recent posts</h2>
  <div class="postsBox">
<% posts.forEach((post) => { %>
  <div class="post">
    <a href="/posts/<%= post._id %>">
      <img class="postBackground" src="/img/postBackground2.jpg" alt="Post background image">
    
    <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
    <p class="authorDate">Written by <%= post.author %> </p>
<% if (post.body.length > 100) {  %>
    <div class="postBody"><%= post.body.substring(0, 100) + ' ...' %></div>
    
<% }  else { %>
  <div class="postBody"> <%= post.body %> </div> 
    
<%  }  %>
    
  
  </div>
</a>
<% }) %>
</div>
</div>
</div>



<%- include('partials/footer') -%> 

