<%- include('partials/header') -%>


  <div class="postPage">
     
  <h3><%= title %></h3>
   <p class="authorDate">Written by <%= author %> - <%= textDate %></p>
   <br>
   <p class="body"><%= body %> </p>
   
  </div>


<%- include('partials/footer') -%>

